@charset "utf-8";
/* 52framework grid

16 cols by 40px, with a 20px gutter
inspired by the http://www.1kbgrid.com/

*/

.col {
	margin-left:10px; margin-right:10px;
	display: inline;
	overflow: hidden;
	float: left;
	position: relative;
}

.row{
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}
.row .row {
	margin: 0 -10px;
	width: auto;
	display: inline-block;
}

/* Column widths, and element width based on grid */

.col_1, .width_1	 {	width:40px;	 }
.col_2, .width_2 	 {	width:100px; }
.col_3, .width_3 	 {	width:160px; }
.col_4, .width_4 	 {	width:220px; }
.col_5, .width_5	 {	width:280px; }
.col_6, .width_6	 {	width:340px; }
.col_7, .width_7	 {	width:400px; }
.col_8, .width_8	 {	width:460px; }
.col_9, .width_9 	 {	width:520px; }
.col_10, .width_10	 {	width:580px; }
.col_11, .width_11	 {	width:640px; }
.col_12, .width_12	 {	width:700px; }
.col_13, .width_13	 {	width:760px; }
.col_14, .width_14	 {	width:820px; }
.col_15, .width_15	 {	width:880px; }
.col_16, .width_16	 {	width:940px; }